#flashBox{    
    position: fixed;
    top: 15px;
    left: 50%;
    width: 230px;
    z-index: 12;
    transform: translateX(-50%);
    .flash{
        display: none;
        padding: 0 10px;
        border-radius: 10px;    
        border: 2px solid black;        
        background-image: url("../images/bg/paper.jpg");      
        background-size: cover;
        margin-bottom: 15px;        
        &.normal{        
            @extend .lightBox;
        }
        &.info{ 
            @extend .lightBoxBlue;
        }
        &.success{  
            @extend .lightBoxGreen;
        }
        &.alert{            
            @extend .lightBoxRed;       
        }
        .message{        
            color: $black;
            font-size: 18px;
            text-align: center;
        }
    }
}