#gamePage{
    background-image:  url("../images/bg/bg-wood.jpg");
    .wrapperBody{
        display: flex;
        align-items: center;
        #personnage{
    
        }
    
        #plateau{
            width: 1110px;
            height: 812px;        
            background-image: url("../images/elements/plateau.jpg");
            background-size: 100% 100%;
            // background-color: red;
            background-repeat: no-repeat;
            margin: auto;
            padding: 8px;
            .tiles{
                display: inline-block;
                vertical-align: middle;
                box-sizing: border-box;
                width: 42px;
                height: 42px;
                // border: 1px solid red;
                margin-right: -4px;
            }
        }
    
        #actions{
    
        }
    }
}

//26 x 19