#gamePage{
    background-image:  url("../images/bg/bg-wood.jpg");
    .wrapperBody{     
        text-align: center;   
        #personnages{            
            display: inline-block;
            vertical-align: middle;            
            width: 380px;
            text-align: center;
            margin-bottom: 20px;
            .ficheHero{
                position: relative;
                display: inline-block; 
                max-width: 100px;
                margin-top: 15px;
                &:hover{
                    cursor: pointer;
                }
                &:nth-child(2){
                    transform: rotate(-20deg);
                }
                &:nth-child(4){                    
                    top:50px;
                    transform: rotate(20deg);
                }
                img{
                    width: 100%;                    
                }
                &.ficheChef{
                    display: block;
                    max-width: 80%;
                    margin: auto;
                }
                &.turnPlaying{
                    border: 3px solid $black;
                    border-radius: 5px;
                    z-index: 3;
                    box-shadow: 4px 4px 8px black;
                    background-color:$orange;
                    &:before{
                        content:"Tour de jeu";
                        color: $black;
                    }
                }
            }
        }
    
        #plateau{
            display: inline-block;
            vertical-align: middle;            
            width: 1110px;
            height: 812px;        
            background-image: url("../images/elements/plateau.jpg");
            background-size: 100% 100%;        
            background-repeat: no-repeat;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 8px;
            text-align: center;
            .tiles{
                position: relative;
                left: -2px;
                display: inline-block;
                vertical-align: middle;
                box-sizing: border-box;
                width: 42px;
                height: 42px;                
                margin-right: -4px;
                &:hover{
                    border-radius: 10px;
                    box-shadow: inset 0 0 16px 0px $red;
                }
                span{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    &.content{
                        z-index: 1;
                        &:hover{
                            cursor: pointer;
                        }
                        img{
                            max-width: 100%;
                            position: relative;   
                            z-index: 0;                         
                        }
                    }
                }
                &.borderGrid{
                    border: 1px dashed $red ;
                }               
                &.fog{
                    background-color: rgba(110,110,110,0.7);
                    span{
                        display: none;                        
                    }
                }
                .gridId{
                    display: none;
                    font-size: 12px;
                    color: $black;
                    text-shadow:1px 1px 2px white;
                    line-height: 40px;
                }
            }
        }
    
        #actions{            
            display: inline-block; 
            vertical-align: middle; 
            width: 380px;
            text-align: center;
            color: $red;
            padding: 0 5px;
            .btnsAction{
                margin-bottom: 10px;
                button{
                    margin-bottom: 10px;
                }
            }

            .cardsAction{
                img{
                    width: 120px;
                    box-shadow: 2px 2px 4px black;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }

            .endTurn{
                width: 100%;
                font-family: "heroquest";
                color: $black;
                font-size: 38px;
                line-height: 50PX;
                border-width: 5px;
                margin-top: 20px;
            }
        }
    }
}

