* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: "heroquest";
    small{
        font-size: 11px;
        color: $orange;
        text-shadow: 1px 1px 1px black;
    }
    a {
        color:$orange;
        text-decoration: none;
        &:hover {       
            text-decoration: none;
            color: white;      
        }   
    }  
    ul{
        padding-left: 10px;
        li{
            list-style: none;
        }
    }  

    button,
    input[type='submit']{        
        border: transparent;
        transition: 0.3s all ease-in;       
        border-radius: 2px;
        margin-right: 5px;
        img{
            vertical-align: middle;                
        }
        &:hover{
            cursor: pointer;
            background-color: $orange;
            color: white;
        }
    }

    input[type='checkbox']{
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }  

    button,
    a{
        font-family: "arial";
        font-size:14px;
        font-weight: bold;
    }

    input[type="submit"]{
        font-family: "heroquest";
    }    
}

.wrapperBody{
    overflow: auto;
    padding: 70px 0;
    height: 100vh; 
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
      }
}

.float-right{
    float: right;
}

.titleShadow{
    text-shadow: 0 0 50px black;
}

.textShadow{
    text-shadow: 0 0 10px black;
}

.textShadowWhite{
    text-shadow: 0 0 2px rgb(255, 255, 255);
}

.lightBox{
    box-shadow: 0 0 14px 4px white;
}

.lightBoxRed{
    box-shadow: 0 0 14px 4px $red;
}

.lightBoxGreen{
    box-shadow: 0 0 14px 4px $green;
}

.lightBoxBlue{
    box-shadow: 0 0 14px 4px $blue;
}

.lightBoxOrange{
    box-shadow: 0 0 14px 4px $orange;
}

.textBorder{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.textBorderBlack{
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;
}

.textBorderRed{
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: $red;
}

.centerText{
    text-align: center;
}

.overflowAuto{
    overflow: auto;    
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.boxShadow{
    box-shadow: 2px 2px 8px 7px black
}

.niceTitle{
    font-size: 28px;
    @extend .textBorderRed;
    @extend .textShadowWhite;
}

.blackHeader{
    background-color: $black;
    cursor: move;
    h2{
        padding: 5px 5px;
        text-shadow: 1px 1px 2px white;
        margin-bottom: 5px;
    }
}

.blackFooter{
    @extend .blackHeader;
    cursor: default;
}

.iconAvatar{
    cursor: pointer;
}

.windowModalDraggable{
    width: 380px;
    height: auto;
    position: absolute;
    left:8px;
    top: 0px;
    border: 5px solid black;
    border-radius: 8px;    
    background-image: url("../images/bg/paper.jpg");      
    background-size: cover;
    @extend .boxShadow;
    .header{
        @extend .blackHeader;
        @extend .boxShadow;
    }
    .footer{
        box-sizing: border-box;
        background-color: $black;
        margin-bottom: 15px; 
        padding: 6px 10px;
        @extend .boxShadow;
    }
}

.counter{
    color: $green;
    text-shadow: 1px 1px 1px black;
}