#menuVisbleBtn{
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 10;
}
nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $black;
    padding: 10px;
    box-shadow: 0 5px 10px white;
    z-index: 10;    
}