#tavernePage{
    .wrapperBody{                
        background-color: $black;
        display: flex;
        justify-content: space-between; 
        align-items: center;        
        section#playerSection,
        section#allPlayerSection{
            display: inline-block;            
            background-image: url("../images/bg/paper.jpg");  
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 368px;
            height: 830px;
            padding: 25px 25px; 
            border-radius: 25px; 
            .content{
                height: 100%;
                padding:10px;
                position: relative;                
                h1{ 
                    margin: 0;
                    @extend .niceTitle;
                }
                .niceTitle{
                    font-size: 26px;
                }
                .avatar{
                    width: 100%;
                }                 
                form{ 
                    .niceTitle{
                        font-size: 22px;
                        margin-bottom: 10px;                  
                    }
                    .ratBox{
                        display: flex;
                        justify-content: space-around;
                        flex-wrap: wrap;
                    }
                    .selectCoequipier{
                        position: relative;
                        .btn-close{
                            right: 5px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                    .formSubmit{
                        margin-top: 50px;
                        position: absolute;
                        left: 5px;
                        right: 5px;
                        bottom: 15px;
                    }
                }
                .iconAvatar,
                .playerName{
                    color: $red;
                    @extend .textBorderBlack;
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 3px;
                }
            }         
        }

        section#taverneSection{
            width: 60%;
            height: 830px;
            position: relative;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            border-radius: 20px;
            &.classique{
                background-image: url("../images/bg/taverne.jpg");
            }
            &.tyrannique{
                background-image: url("../images/bg/taverne3.jpg");
            }
        } 
        
        section#allPlayerSection{
            ul{
                li{
                    margin-bottom: 4px;
                    position: relative;
                    .playersAction{  
                        position: absolute;
                        top: 50%;
                        right: 0;                     
                        transform: translateY(-50%);
                    }
                }
                &.notConnectedUser{                    
                    li{
                        .playersAction{
                            .drink{
                                display: none;
                            }
                        }
                    }                    
                }
            }
        }
    }

}