#tavernePage{
    .wrapperBody{                
        background-color: $black;
        display: flex;
        justify-content: space-between;             
        section#playerSection,
        section#allPlayerSection{
            display: inline-block;            
            background-image: url("../images/bg/paper.jpg");  
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 368px;
            height: 100%;            
            padding: 25px 25px; 
            border-radius: 25px; 
            .content{
                height: 100%;
                padding:10px;
                position: relative;                               
                h1{ 
                    margin: 0;
                    @extend .niceTitle;
                }
                .niceTitle{
                    font-size: 26px;
                }
                .avatar{
                    width: 100%;
                }                 
                #gameConfig{                     
                    .niceTitle{
                        font-size: 20px;
                        margin-bottom: 10px;                                         
                    }

                    #slotsBox{                       
                        #ratBox{
                            display: flex;
                            justify-content: space-around;
                            flex-wrap: wrap;
                            li{
                                width: 80px;
                                text-align: center;
                                img{
                                    &.rat{
                                        width: 50px;
                                    }
                                } 
                                .kickUser{
                                    background-color: $grey;
                                    color : $black;
                                }                           
                            }
                        }
                    }

                    
                    
                    #questBox{                        
                        .niceTitle{
                            margin-bottom: 0;
                            &:nth-child(2){
                                margin-bottom: 10px;
                            } 
                        }
                        .bgQuest{
                            height: 180px;
                            background-image: url("../images/elements/map1.jpg");  
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center;
                        }
                    }
                    .formSubmit{                        
                        margin-top:20px;
                        margin-bottom: 10px;                        
                    }
                }
                #tableInvited{
                    display: none;
                }

                .tableChat{
                    form{
                        display: flex;
                        flex-direction: row;
                        input{
                            margin-right: 10px;
                            padding-left: 15px;
                            width: 100%;
                        }
                    }
                }


                .iconAvatar,
                .playerName{
                    color: $red;
                    @extend .textBorderBlack;
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 3px;
                }
            }         
        }

        section#taverneSection{
            width: 60%;
            height: 100%;
            position: relative;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            border-radius: 20px;
            &.classique{
                background-image: url("../images/bg/taverne.jpg");
            }
            &.tyrannique{
                background-image: url("../images/bg/taverne3.jpg");
            }
        } 
        
        section#allPlayerSection{
            ul{
                li{
                    margin-bottom: 4px;
                    position: relative;
                    .playersAction{  
                        position: absolute;
                        top: 50%;
                        right: 0;                     
                        transform: translateY(-50%);
                        .drink{
                            transition: none;
                            background-color: $green;
                            display: none;
                        }
                    }
                }
                &.notConnectedUser{                    
                    li{
                        margin-bottom: 15px;
                        .playersAction{
                            .drink{
                                display: none;
                            }
                        }
                    }                    
                }
            }
        }
    }

}