#tavernePage{
    .wrapperBody{                
        background-color: $black;
        display: flex;
        justify-content: space-between; 
        align-items: center;        
        section#playerSection,
        section#allPlayerSection{
            display: inline-block;            
            background-image: url("../images/bg/paper.jpg");  
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 368px;
            height: 830px;
            padding: 25px 25px; 
            border-radius: 25px; 
            .content{
                height: 100%;
                padding:10px;                
                h1{                    
                    @extend .textBorderBlack;
                    color: $red;
                    
                    margin: 0;                    
                    color: $black;
                    text-shadow: 1px 1px 2px white;
                }
                .avatar{
                    width: 100%;
                }                 
                form{ 
                    .formSubmit{
                        margin-top: 50px;
                    }
                }
                .iconAvatar,
                .playerName{
                    color: $red;
                    @extend .textBorderBlack;
                    display: inline-block;
                    vertical-align: middle;
                }
            }         
        }

        section#taverneSection{
            width: 60%;
            height: 830px;
            position: relative;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            border-radius: 20px;
            &.classique{
                background-image: url("../images/bg/taverne.jpg");
            }
            &.tyrannique{
                background-image: url("../images/bg/taverne3.jpg");
            }
        } 
        
        section#allPlayerSection{
            ul{
                li{
                    margin-bottom: 12px;
                    position: relative;
                    .playersAction{  
                        position: absolute;
                        top: 50%;
                        right: 0;                     
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }

}