@font-face {
    font-family: "heroquest";
    src: url("../fonts/HeroQuest.ttf"); 
}

@font-face {
    font-family: "alger";
    src: url("../fonts/ALGER.TTF");
}

$orange: #D15E00;
$black: #1C1C1C;
$grey: #979797;
$red: #874343;
