<footer>
    <a href="/login" class="btn">
        <img src="/images/icon/exit.png" alt="icon deco"> Connexion / Déconnexion
    </a>

    <a href="/home" class="btn">
        <img src="/images/icon/move.png" alt="icon home"> Accueil
    </a>

    <a href="/taverne" class="btn">
        <img src="/images/icon/cup.png" alt="icon coupe"> Taverne
    </a>    
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<script src="/js/functionJs.js"></script>