<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroquest</title>
    <meta name="author" content="Nightfox26 fox26100@yahoo.fr">
    <link rel="icon" href="/images/icon/logo.png" />
    <!-- <script src="https://kit.fontawesome.com/e18e2caf28.js" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<%- include('navbar'); %>
<%- include('../component/modalInfo'); %>

<% if(locals.flash) { %>
    <aside id="flashBox">
        <% locals.flash.forEach(function(flash){ %>
            <%- include('../component/flashMessage',{flash:flash}); %>
        <% }) %>
    </aside>
<% } %> 