<button onClick="toggle_headerFooter();" class="btn" id="menuVisbleBtn">
    <img src="/images/icon/menuLess.png" alt="icon sans menu">
</button>
<nav>
    <% if (locals.user){ %>
        <button class="btn">
            <img src="/images/icon/profil.png" alt="icon user"> <%= locals.user.name %>
        </button>
        
        <button class="btn">
            <img src="/images/icon/status.png" alt="icon status"> <%= locals.hero.name %>
        </button>

        <button class="btn" id="btnLetterBox" onclick="toggleLetterBox()">
            <img src="/images/icon/letter.png" alt="icon lettre"> Lettres <span class="counter"></span>
        </button>

        <button class="btn">
            <img src="/images/icon/trophy.png" alt="icon trophé"> Trophés
        </button>
    <% } %>

    <button onClick="toggle_full_screen();" class="btn float-right">
        <img src="/images/icon/window.png" alt="icon fenetre">
    </button>
    <button onClick="toggle_headerFooter();" class="btn float-right">
        <img src="/images/icon/menuLess.png" alt="icon sans menu">
    </button>
    <% if(locals.page == "taverne"){ %>
    <button onClick="toggle_Chat();" class="btn float-right" id="chatBtn">
        <img src="/images/icon/dial.png" width=30 alt="icon tchat"><span>0</span>
    </button>
    <% } %>
     
</nav>