<button onClick="toggle_headerFooter();" class="btn" id="menuVisbleBtn">
    <img src="/images/icon/menuLess.png" alt="icon sans menu">
</button>
<nav>
    <% if (locals.user){ %>
        <button>
            <img src="/images/icon/profil.png" alt="icon armurerie"> <%= locals.user.name %>
        </button>
        
        <button>
            <img src="/images/icon/status.png" alt="icon armurerie"> <%= locals.hero.name %>
        </button>

        <button>
            <img src="/images/icon/letter.png" alt="icon armurerie"> Lettres
        </button>

        <button>
            <img src="/images/icon/trophy.png" alt="icon armurerie"> Trophés
        </button>

    <% } %>

    <button onClick="toggle_full_screen();" class="btn float-right">
        <img src="/images/icon/window.png" alt="icon fenetre">
    </button>
    <button onClick="toggle_headerFooter();" class="btn float-right">
        <img src="/images/icon/menuLess.png" alt="icon sans menu">
    </button>
    <% if(locals.page == "taverne"){ %>
    <button onClick="toggle_Chat();" class="btn float-right">
        <img src="/images/icon/dial.png" width=30 alt="icon tchat">
    </button>
    <% } %>
     
</nav>