<aside id="trophesBox" class="overflowAuto windowModalDraggable"> 
    <div class="header">
        <h2>Trophés
            <button class="btn btn-close" onclick="closeDrag(this)"></button>
        </h2>
    </div>

    <ul id="trophesList">
        <li><img src="/images/trophes/trophe (1).png" alt=""></li>
        <li><img src="/images/trophes/trophe (2).png" alt=""></li>
        <li><img src="/images/trophes/trophe (3).png" alt=""></li>
        <li><img src="/images/trophes/trophe (4).png" alt=""></li>
        <li><img src="/images/trophes/trophe (5).png" alt=""></li>
        <li><img src="/images/trophes/trophe (6).png" alt=""></li>
        <li><img src="/images/trophes/trophe (7).png" alt=""></li>
        <li><img src="/images/trophes/trophe (8).png" alt=""></li>
        <li><img src="/images/trophes/trophe (9).png" alt=""></li>
        <li><img src="/images/trophes/trophe (10).png" alt=""></li>
        <li><img src="/images/trophes/trophe (11).png" alt=""></li>
        <li><img src="/images/trophes/trophe (12).png" alt=""></li>
        <li><img src="/images/trophes/trophe (13).png" alt=""></li>
        <li><img src="/images/trophes/trophe (14).png" alt=""></li>
        <li><img src="/images/trophes/trophe (15).png" alt=""></li>
        <li><img src="/images/trophes/trophe (16).png" alt=""></li>
        <li><img src="/images/trophes/trophe (17).png" alt=""></li>
        <li><img src="/images/trophes/trophe (18).png" alt=""></li>
        <li><img src="/images/trophes/trophe (19).png" alt=""></li>
        <li><img src="/images/trophes/trophe (20).png" alt=""></li>
        <li><img src="/images/trophes/trophe (21).png" alt=""></li>
        <li><img src="/images/trophes/trophe (22).png" alt=""></li>
        <li><img src="/images/trophes/trophe (23).png" alt=""></li>
        <li><img src="/images/trophes/trophe (24).png" alt=""></li>
        <li><img src="/images/trophes/trophe (25).png" alt=""></li>
        <li><img src="/images/trophes/trophe (26).png" alt=""></li>
        <li><img src="/images/trophes/trophe (27).png" alt=""></li>
        <li><img src="/images/trophes/trophe (28).png" alt=""></li>
        <li><img src="/images/trophes/trophe (29).png" alt=""></li>
        <li><img src="/images/trophes/trophe (30).png" alt=""></li>
        <li><img src="/images/trophes/trophe (31).png" alt=""></li>
    </ul>

</aside>