<section id="chatBox" class="boxShadow">
    <div class="chatHeader boxShadow">
        <h2>HeroQuest Chat 
            <button class="btn btn-close" onclick="closeChat()"></button>
        </h2>

    </div>
    <div class="chatBody overflowAuto">
        <ul></ul>
    </div>
    <div class="chatForm boxShadow">
        <form action="" method="POST">
            <input type="text" name="canalChat" value="general" hidden>
            <input type="text" name="message" placeholder="Parler dans la taverne...">
            <input type="submit" value="Dire cela ">
        </form>
    </div>
</section>