<aside id="fichePerso" class="windowModalDraggable">
    <div class="header">
        <h2><img src="/images/icon/rat.png" alt="icon perso" class="icon"> Fiche du personnage 
            <button class="btn btn-close" onclick="closeFichePerso()"></button>
        </h2>
    </div>

    <div class="content">  
        <div class="contentWrapper">
            <h2 class="name">name</h2>
            <p class="desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque laborum iste repellat similique quae rerum nisi omnis facere at assumenda, provident molestiae fugit aspernatur ipsam cupiditate. Beatae minima autem error.
            </p>  
            
            <ul class="stats">
                <li>
                    <img src="/images/icon/atk.png" alt="atk icon"> Atk : <span class="atk">5</span> 
                </li>
                <li>
                    <img src="/images/icon/def.png" alt="def icon"> Def : <span class="def">5</span>
                </li>
                <li>
                    <img src="/images/icon/move.png" alt="move icon"> Move : <span class="move">5</span>
                </li>
            </ul>
            <ul class="stats">
                <li>
                    <img src="/images/icon/corp.png" alt="corp icon"> Vie : <span class="vie">5</span>
                </li>
                <li>
                    <img src="/images/icon/esprit.png" alt="esprit icon"> Esprit : <span class="esprit">5</span>
                </li>                   
            </ul>           

        </div> 
    </div>

</aside>