<aside id="loadGameForm" class="windowModalDraggable">
    <div class="header">
        <h2>HeroQuest continuer partie 
            <button class="btn btn-close" onclick="closeDrag(this)"></button>
        </h2>
    </div>

    <form action="/loadCroisade" method="POST">
        <div class="niceTitle">Mode de jeu</div>
        <input type="text" value="classique" name="game_mode" disabled>
        <hr>
        <div class="niceTitle">Croisade  </div>
        <select name="partie_id">
            <% parties.forEach(function(partie){ %>
                <option value="<%= partie.id %>"><%= partie.name %> - etage <%= partie.etage %> - <%= partie.slots - 1 %> slots</option>
            <% }) %>
        </select>

        <p class="centerText">
            <input type="submit" class="btn" value="Continuer cette quête">
        </p>
    </form>
</aside>