<aside id="loadGameForm" class="boxShadow">
    <div class="blackHeader boxShadow">
        <h2>HeroQuest continuer partie 
            <button class="btn btn-close" onclick="closeLoadGame()"></button>
        </h2>
    </div>

    <form action="" method="POST">
        <div class="niceTitle">Mode de jeu</div>
        <input type="text" value="classique" name="game_mode" disabled>

        <div class="niceTitle">Reprendre </div>
        <select name="partie_id">
            <option value="1">lA QUETE DU RELOU</option>
            <option value="2">lA QUETE DU RELOU 2</option>
            <option value="3">lA QUETE DU RELOU 3</option>
        </select>

        <p class="centerText">
            <input type="submit" class="btn" value="Continuer cette quête">
        </p>
    </form>
</aside>