<section class="modalBgFade">
    <div class="modal">
        <div class="niceTitle">
            <img src="/images/icon/scroll.png" alt="icone parchemin">
            Missive informative
        </div>
        <p class="desc"></p>
        <p class="reward"><img src="/images/icon/gold.png" alt="icone parchemin"> <span></span></p>
        <button class="btn btn-close" onclick="closeModal()"></button>
    </div>
</section>