<section class="modalBgFade">
    <div class="modal">
        <h2>
            <img src="images/icon/scroll.png" alt="icone parchemin">
            Missive informative
        </h2>
        <p class="desc"></p>
        <p class="reward"><img src="images/icon/gold.png" alt="icone parchemin"> <span></span></p>
        <button class="btn btn-closeModal" onclick="closeModal()"></button>
    </div>
</section>