<aside id="newGameForm" class="boxShadow">
    <div class="blackHeader boxShadow">
        <h2>HeroQuest nouvelle partie 
            <button class="btn btn-close" onclick="closeNewGame()"></button>
        </h2>
    </div>

    <form action="/newGame" method="POST">
        <div class="niceTitle">Mode de jeu</div>
        <input type="text" value="classique" disabled> 
        <input type="text" value="classique" name="game_mode" hidden>       

        <div class="niceTitle">Nom de la Croisade</div>
        <input type="text" value="" name="game_name">

        <div class="niceTitle">Nombre de joueurs autorisé</div>
        <select name="game_slots" id="">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4" selected>4</option>
        </select>

        <p class="centerText">
            <input type="submit" class="btn" value="Créer la partie">
        </p>
    </form>
</aside>