<aside id="tableTaverne" class="windowModalDraggable">
    <div class="header">
        <h2>Table de jeu
            <button class="btn btn-close" onclick="closeTable()"></button>
        </h2>
    </div>
    <div class="table">
        <div id="hero1">
            <img src="images/icon/barbare.png" class="iconAvatar" alt="rat icon" data-typeMonster="Rat"> 
        </div>

        <div id="hero2">
            <img src="images/icon/rat.png" class="iconAvatar" alt="rat icon" data-typeMonster="Rat"> 
        </div>

        <div id="hero3">
            <img src="images/icon/rat.png" class="iconAvatar" alt="rat icon" data-typeMonster="Rat"> 
        </div>
        <div id="hero4">
            <img src="images/icon/rat.png" class="iconAvatar" alt="rat icon" data-typeMonster="Rat"> 
        </div>
    </div>
</aside>