#chatBox{
    display: none;
    width: 380px;
    position: absolute;
    left:8px;
    top: 0px;
    border: 5px solid black;
    border-radius: 8px;
    background-image: url("../images/bg/paper.jpg");   
    z-index: 10; 

    .chatHeader{
        @extend .blackHeader;
    }
    .chatBody{
        height: 340px;
        padding:0 10px;
        padding-bottom: 30px;
        ul{
            padding-left: 0;
            li{
                margin-bottom: 10px;  
                background-color: rgba($color: #FFF, $alpha: 0.3);  
                border-radius: 5px; 
                padding: 2px 5px; 
                img{
                    vertical-align: middle;
                }      
                span{
                    color:$red;
                    @extend .textBorderBlack;
                }
            }
        }
    }
    .chatForm{
        box-sizing: border-box;
        height: 54px;
        background-color: $black;
        margin-bottom: 22px; 
        padding: 0 10px;
        form{
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            input{                
                height : 25px;
                border: none;   
                padding-left: 10px;         
            }
            input[name="message"]{
                width: 75%;
            }
        }
    }
}