#fichePerso{
    display: none;
    width: 600px;
    position: absolute;
    left:10px;
    right:auto;
    top: calc(100% - 305px);   
    .header{
        h2{
            img{
                display: inline-block;
                vertical-align: middle;
                height: 56px;
            }
            .btn-close{
                top: 33px;
            }
        }
    }
    .content{
        background-image: url("../images/elements/rat.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        height: 200px; 
        .contentWrapper{
            width: 370px;
            padding: 15px;
            padding-top: 0;
            h2{
                margin-top: 12px;
                margin-bottom: 5px;
            }
            .desc{
                margin-top: 0;
                margin-bottom: 0;
            }
            
            ul.stats{
                display: inline-block;
                padding-left: 0;
                margin: 10px 0;
                li{
                    img{
                        vertical-align: middle;
                        height: 28px;
                    }
                }
            }           
        }
    }
}