footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $black;
    padding: 10px;
    box-shadow: 0 -5px 10px white;
    z-index: 10;
    .gamePartie{
        a{
            color: $orange;
            text-shadow: 1px 1px 2px black;
        }
    }
}