#gamePage .wrapperBody #plateau{
    .tiles span.content img{        
            &.Barbare{                                
                top: -4px;
            }
            &.Magicien{                                
                top: -4px;
            }
            &.Orc{
                max-width: 120%;
            }
            &.Mumy{
                max-width: 90%;
                top: 4px;
            }
            &.Zombi{
                max-width: 110%;
                top: -6px;
            }
            &.Fimir{
                max-width: 90%;
                top: 2px;
            }
            &.Gobelin{
                max-width: 90%;
                top: 3px;
            }
            &.ChaosKnight{
                top: -12px;
            }
            &.Gargoyle{
                max-width: 120%;
                left: -4px;
            }

            &.iconMoilier[data-lg='3']{
                max-width: calc(3 * 36px)
            }
            &.iconMoilier[data-lg='2']{
                max-width: calc(2 * 36px)
            }
            &.iconMoilier[data-ht='3']{
                max-height: calc(3 * 36px)
            }
            &.iconMoilier[data-ht='2']{
                max-height: calc(2 * 36px)
            }

            &.Sarcophage{                
                top: 8px;
                left: 5px;
            }
            &.Armoir{
                top: 3px;
                left: 7px;
            }
            &.Throne{
                max-width: 36px;
                top: 3px;
                left: -2px;
            }
            &.Porte{
                top: 35px;
                left: -1px;
            }
            &.Block_L{
                max-width: 80px !important;  
                top: 1px;
                left: -1px;
            }
            &.Block{                              
                top: -1px;
                left: -1px;
            }
            &.Escalier{
                max-width: 80px !important;
                max-height: 80px !important;
                top: 3px;
            }


            &.Biblio-R90{
                top: 9px;
            }
            &.Cheminee-R90{
                top: 8px;
            }
            &.Table-R90{
                top: 12px;
                left: 7px;
            }
            &.Torture-R90{
                top: 8px;
                left: 4px;
            }
            &.Bureau-R90{
                top: 12px;
                left: 4px;
            }
            &.Ratelier-R90{
                top: 8px;
                left: -2px;                
            }
            &.Grimoir-R90{
                top: 8px;
                left: 8px;                
            }
            &.Porte-R90{
                max-height: 42px;                
                left: 19px;
            }
            &.PorteSecrete-left{
                max-height: 50px;                
                left: 42px;
                top: -2px;
            }
            &.Coffre-R90{
                max-height: 32px;                
                top: 6px;
                left: -1px;
            }
           

    }
}