#newGameForm,
#loadGameForm{
    display: none;
    width: 420px;    
    left:38%;
    top: 20%;
    z-index: 11;    
    form{
        padding: 15px;
        padding-bottom: 0;
        .niceTitle{
            font-size: 20px;
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 8px;
            &+input,
            &+select{
                text-align: center;
                float: right;
                line-height: 20px;                                
            }
        }

        select{
            height: 27px;
        }

        input[type="submit"]{
            margin-top: 10px;
        }

    }
}